// System stack fonts
$system-font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$system-font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$system-font-monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

// MaterialD Design Fonts config
$mdi-font-path: "fonts/mdi" !default;

// Bulma config
$primary: #457b9d;
$family-sans-serif: "Montserrat", $system-font-sans-serif;
$family-monospace: $system-font-monospace;
$modal-background-background-color: rgba(0, 0, 0, 0.5);
$modal-z: 999;
$button-disabled-border-color: rgba(0, 0, 0, 0.1);
$button-disabled-opacity: 0.2;
$section-padding: 20px;
$section-padding-desktop: $section-padding;
$section-padding-medium: $section-padding;
$section-padding-large: $section-padding;

// Imports
@import "./node_modules/@mdi/font/scss/materialdesignicons";
@import "./node_modules/bulma/bulma";