// Montserrat, https://fonts.google.com/specimen/Montserrat
@font-face {
	font-style: normal;
	font-family: "Montserrat";
	font-weight: 100 900;
	font-display: swap;
	src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
	font-style: italic;
	font-family: "Montserrat";
	font-weight: 100 900;
	font-display: swap;
	src: url("fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}