@import "_config";

footer {
	&.debug {
		left: 0;
		right: 0;
		bottom: 0;
		height: 35vh;
		overflow: auto;
		position: fixed;
		background: rgba(0, 0, 0, 0.6);
		h6 {
			top: 0;
			color: #fff;
			padding: 5px 10px;
			position: sticky;
			z-index: 10;
			background: rgba(80, 80, 80, 1);
			font-weight: bold;
			&.exception {
				background: rgba(200, 0, 0, 1);
			}
		}
		.log {
			color: #fff;
			font-size: $size-7;
			td {
				padding: 5px 10px;
				&:first-child {
					color: rgba(255, 255, 255, 0.6);
				}
				.info {
					color: rgba(255, 255, 255, 0.6);
					display: block;
					font-size: #{$size-7 - 0.2rem};
				}
			}
		}
	}
}
details {
	&.collapsible {
		summary {
			cursor: pointer;
			padding: 5px 10px;
			font-size: 80%;
			-moz-user-select: none;
			-webkit-user-select: none;
			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}
			&:focus {
				outline: none;
			}
		}
		summary ~ * {
			color: #fff;
			padding: 5px 10px;
			font-size: 75%;
			background: #444;
			tab-size: 20px;
			&.details {
				overflow: auto;
				font-size: 60%;
				border-top: 1px solid rgba(255, 255, 255, 0.1);
				max-height: 200px;
			}
		}
		&[open] {
			color: #fff;
			background: #333;;
		}
	}
}
.message {
	&.is-exception {
		.message-header {
			background-color: #800;
			i {
				font-size: 80%;
				font-style: normal;
				font-weight: normal;
			}
		}
		.message-body {
			padding: 0;
			overflow: hidden;
			background-color: lighten(#800, 65%);
		}
	}
}