@import "_config";

footer {
	&.debug {
		left: 0;
		right: 0;
		bottom: 0;
		height: 35vh;
		overflow: auto;
		position: fixed;
		background: rgba(0, 0, 0, 0.6);
		h6 {
			top: 0;
			color: #fff;
			padding: 5px 10px;
			position: sticky;
			z-index: 10;
			background: rgba(80, 80, 80, 1);
			font-weight: bold;
			&.exception {
				background: rgba(200, 0, 0, 1);
			}
		}
		.log {
			color: #fff;
			font-size: $size-7;
			td {
				padding: 5px 10px;
				&:first-child {
					color: rgba(255, 255, 255, 0.6);
				}
				.info {
					color: rgba(255, 255, 255, 0.6);
					display: block;
					font-size: #{$size-7 - 0.2rem};
				}
			}
		}
	}
}
details {
	&.collapsible {
		summary {
			cursor: pointer;
			display: block;
			padding: 5px 10px 5px 26px;
			position: relative;
			font-size: 80%;
			-moz-user-select: none;
			-webkit-user-select: none;
			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}
			&:focus {
				outline: none;
			}
			&::-webkit-details-marker {
				display: none;
			}
			&::before {
				left: 10px;
				content: "\25B6";
				position: absolute;
			}
		}
		summary ~ * {
			color: #fff;
			padding: 5px 10px;
			font-size: 75%;
			background: #444;
			tab-size: 20px;
		}
		&[open] {
			color: #fff;
			background: #333;
			summary {
				&::before {
					content: "\25BC";
				}
			}
		}
	}
}
.message {
	&.is-exception {
		.message-header {
			justify-content: flex-start;
			background-color: #800;
			.icon {
				align-self: flex-start;
				margin-right: 10px;
			}
			.path {
				font-size: 80%;
				margin-top: 10px;
				align-self: flex-end;
				margin-left: auto;
				font-weight: normal;
			}
			.text {
				font-weight: bold;
			}
		}
		.message-body {
			padding: 0;
			overflow: hidden;
			background-color: lighten(#800, 65%);
			.path {
				opacity: 0.6;
				font-size: 80%;
			}
			.details {
				overflow: auto;
				font-size: 60%;
				max-height: 300px;
			}
		}
	}
}