@import url("_fonts.css");
@import url("_config.css");

.subtitle, .title {
	--bulma-title-family: var(--bulma-family-secondary);
	--bulma-subtitle-family: var(--bulma-family-secondary);
	
	&:is(.title) {
		font-family: var(--bulma-title-family);
	}
	&:is(.subtitle) {
		font-family: var(--bulma-subtitle-family);
	}
}

footer {
	&.debug {
		left: 0;
		right: 0;
		bottom: -35vh;
		height: 35vh;
		z-index: 1000;
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
		transition: bottom 0.2s ease;
		font-family: var(--bulma-family-primary);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		
		&:hover {
			bottom: 0;
			box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.5);
			
			&::before {
				content: "\2715";
			}
		}
		&::before {
			top: -30px;
			color: #fff;
			left: calc(50% - 50px);
			width: 100px;
			height: 40px;
			content: "\2630";
			z-index: 10;
			position: absolute;
			clip-path: rect(-5px 105px 30px -5px);
			font-size: 20px;
			background: color-mix(in oklab, color(display-p3 0.9 0.45 0.2), #000 20%);
			box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.5);
			text-align: center;
			line-height: 30px;
			border-radius: 4px;
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);
		}
		
		.header {
			top: 0;
			color: #fff;
			margin: 0;
			padding: 5px 10px;
			z-index: 10;
			position: sticky;
			font-size: 12px;
			background: color-mix(in oklab, color(display-p3 0.9 0.45 0.2), #000 20%);
			font-weight: bold;
			
			&.exception {
				background: color(display-p3 0.83 0.329 0.324);
			}
		}
		.log {
			color: #fff;
			width: 100%;
			border: none;
			font-size: 12px;
			table-layout: fixed;
			
			td {
				border: none;
				padding: 5px 10px;
				overflow: hidden;
				text-overflow: ellipsis;
				
				&:first-child {
					color: rgba(255, 255, 255, 0.6);
					width: 150px;
					font-size: 10px;
					padding-top: 6px;
					white-space: nowrap;
					vertical-align: top;
				}
				.text {
					color: inherit;
					padding: 0;
					font-size: 12px;
					background: none;
					word-break: break-all;
					white-space: pre-wrap;
				}
				.info {
					color: color-mix(in oklab, #fff, transparent 40%);
					display: block;
					font-size: 10px;
				}
			}
		}
		.buffer {
			color: #fff;
			padding: 5px 10px;
			font-size: 12px;
			background: none;
		}
		.content {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: auto;
			position: absolute;
		}
	}
}

.message {
	&.is-exception {
		.message-header {
			color: var(--bulma-warning-invert);
			justify-content: flex-start;
			background-color: var(--bulma-warning);
			
			.icon {
				align-self: flex-start;
				margin-right: 10px;
			}
			.path {
				font-size: 80%;
				margin-top: 10px;
				align-self: flex-end;
				margin-left: auto;
				font-weight: normal;
			}
			.text {
				font-weight: bold;
			}
		}
		.message-body {
			color: var(--bulma-warning-light-invert);
			padding: 0;
			overflow: hidden;
			background-color: var(--bulma-warning-light);
			
			.path {
				opacity: 0.6;
				font-size: 80%;
			}
			.details {
				overflow: auto;
				font-size: 60%;
				max-height: 300px;
			}
		}
	}
	
	details {
		&.collapsible {
			summary {
				cursor: pointer;
				display: block;
				padding: 5px 10px 5px 26px;
				position: relative;
				font-size: 80%;
				user-select: none;
				
				&:hover {
					background: rgba(0, 0, 0, 0.1);
				}
				&:focus {
					outline: none;
				}
				&::-webkit-details-marker {
					display: none;
				}
				&::before {
					left: 10px;
					content: "\25B6";
					position: absolute;
				}
			}
			summary ~ * {
				color: #fff;
				padding: 5px 10px;
				tab-size: 20px;
				font-size: 75%;
				background: color-mix(in oklab, #000, #fff 44%);
			}
			&[open] {
				color: #fff;
				background: color-mix(in oklab, #000, #fff 33%);
				
				summary {
					&::before {
						content: "\25BC";
					}
				}
			}
		}
	}
}